<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
          Location information
        </div>
        <div class="item item-text-wrap">
          <h2>Our Address</h2>
          <address style="font-size: 100%">
            121, Clear Water Bay Road<br>
            Clear Water Bay, Kowloon<br>
            HONG KONG<br>
            <i class="icon ion-android-call"></i>: +852 1234 5678<br>
            <i class="icon ion-printer"></i>: +852 8765 4321<br>
            <i class="icon ion-ios-email"></i>:
            <a href="mailto:confusion@food.net">confusion@food.net</a>
          </address>
          <div class="button-bar ">
            <button  class="button button-positive icon-left ion-android-call">Call</button >
            <button  class="button button-calm icon-left ion-social-skype">Skype</button >
            <button  class="button button-balanced icon-left ion-ios-email">Email</button >
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
